* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    text-align: center;
}

body {
    min-height: 100vh;
    color: white;
}
.music-control {
    position: fixed;
    top: 20px;
    right: 20px;
    background: rgba(255,255,255,0.2);
    backdrop-filter: blur(5px);
    border: none;
    border-radius: 50%;
    padding: 10px 15px;
    font-size: 18px;
    cursor: pointer;
    color: white;
    transition: 0.3s;
}

.music-control:hover {
    background: rgba(255,255,255,0.4);
    transform: scale(1.1);
}

.background {
    position: fixed;
    width: 100%;
    height: 100%;
    background: url("fondo3.jpg") center/cover no-repeat;
    filter: blur(8px);
    z-index: -1;
}
.next-page {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: rgba(255,255,255,0.2);
    backdrop-filter: blur(5px);
    padding: 10px 15px;
    border-radius: 50%;
    text-decoration: none;
    font-size: 18px;
    color: white;
    transition: 0.3s;
}

.next-page:hover {
    background: rgba(255,255,255,0.4);
    transform: scale(1.1);
}


h1 {
    margin-top: 30px;
    font-size: 2rem;
}

#map {
    height: 400px;
    width: 80%;
    margin: 30px auto;
    border-radius: 15px;
}

.frase {
    font-size: 1.3rem;
    margin: 20px;
}
