* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

/* Fondo borroso */
.background {
    position: fixed;
    width: 100%;
    height: 100%;
    background: url("fondo.png") center/cover no-repeat;
    filter: blur(8px);
    z-index: -1;
}

/* Contenedor principal */
.container {
    text-align: center;
    color: white;
}

/* Sobre */
.envelope {
    width: 250px;
    height: 160px;
    background: #e63946;
    position: relative;
    cursor: pointer;
    margin: auto;
    transition: 0.5s;
}

.flap {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #d62828;
    clip-path: polygon(0 0, 50% 50%, 100% 0);
    transform-origin: top;
    transition: 0.5s;
}

.envelope.open .flap {
    transform: rotateX(180deg);
}

/* Pregunta */
.question {
    margin-top: 40px;
}

.hidden {
    display: none;
}

.buttons {
    margin-top: 20px;
}

button {
    padding: 12px 20px;
    margin: 10px;
    border: none;
    border-radius: 20px;
    font-size: 1rem;
    cursor: pointer;
    transition: 0.3s;
}

.yes {
    background: #ff4d6d;
    color: white;
}

.no {
    background: gray;
    color: white;
    position: relative;
}
.follow {
    margin-top: 20px;
    padding: 12px 25px;
    border-radius: 25px;
    border: none;
    background: #ff4d6d;
    color: white;
    font-size: 1rem;
    cursor: pointer;
    transition: 0.3s;
}

.follow:hover {
    background: #ff1e4d;
    transform: scale(1.1);
}

