* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: #f5f5f5;
    min-height: 100vh;
    text-align: center;
}

h1 {
    margin: 30px 0;
}

.collage {
    position: relative;
    width: 100%;
    height: 100vh;
}

.collage video {
    position: absolute;
    width: 220px;
    border: 10px solid white;
    box-shadow: 0 10px 25px rgba(0,0,0,0.3);
    transition: 0.3s;
}

/* Posiciones desordenadas */
.collage video:nth-child(1)  { top: 50px; left: 100px;  transform: rotate(-8deg); }
.collage video:nth-child(2)  { top: 200px; left: 350px; transform: rotate(6deg); }
.collage video:nth-child(3)  { top: 100px; left: 650px; transform: rotate(-5deg); }
.collage video:nth-child(4)  { top: 400px; left: 150px; transform: rotate(10deg); }
.collage video:nth-child(5)  { top: 350px; left: 500px; transform: rotate(-7deg); }
.collage video:nth-child(6)  { top: 500px; left: 800px; transform: rotate(4deg); }
.collage video:nth-child(7)  { top: 150px; left: 900px; transform: rotate(-12deg); }
.collage video:nth-child(8)  { top: 450px; left: 1000px; transform: rotate(8deg); }

/* NUEVOS */
.collage video:nth-child(9)  { top: 600px; left: 250px; transform: rotate(-6deg); }
.collage video:nth-child(10) { top: 250px; left: 1150px; transform: rotate(7deg); }
.collage video:nth-child(11) { top: 650px; left: 600px; transform: rotate(-9deg); }
.collage video:nth-child(12) { top: 80px;  left: 1200px; transform: rotate(5deg); }


.collage video:hover {
    transform: scale(1.2) rotate(0deg);
    z-index: 10;
}
